$primaryColor: white;

$primaryBgColor: white;
$secondaryBgColor: #F5F5F5;
$tertiaryBgColor:  #1E3066;
$quaternaryBgColor:  #3FAE49;

$primaryFontColor: white;
$secondaryFontColor: black;
$tertiaryFontColor:  #3FAE49;

$buttonBgColor: #3FAE49;

$borderColor: #707070;

$shadow: rgba(0,0,0,.18);