$primaryColor: white;
$secondaryColor:  #1E3066;
$tertiaryColor:  #3FAE49;

$primaryBgColor: white;
$secondaryBgColor: #F5F5F5;
$tertiaryBgColor:  #1E3066;
$quaternaryBgColor:  #3FAE49;

$primaryFontColor: white;
$secondaryFontColor: black;
$tertiaryFontColor:  #3FAE49;

$borderColor: rgba(0,0,0,.24);


$shadow: rgba(0,0,0,.18);