.section--join {
    background-color: $secondaryBgColor;
} 

.section__signature{
    display: inline-flex;
    align-items: center;
    
    margin-top: 2.25rem;
}

.section__card--quote {
    position: relative;

    background-color: $quaternaryBgColor;
    color: $primaryFontColor;

    padding: 4.688rem .5rem 1rem;
    &::after{
        font-family: FontAwesome;
        content: '\f10e';
        position: absolute;
        top: 3.25rem;
        right: .5rem;
        font-size: 5.5rem;
        opacity: .15;
    }
}


.section__img--quote {
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    background-color: $primaryBgColor;
    overflow: hidden;

    margin-right: 1rem;
    img{
        width: 100%;
    }
}

.section__text--name {
    font-size: 1rem;
}


@media screen and (min-width: 768px) {
    .section--join {
        position: relative;
        &::after{
            @include rectangular($primaryBgColor, 8.75rem);
        }
    }
    .section__card--join {
        width: 37.5rem;
        height: 22.5rem;

        position: relative;
        right: 4.063rem;
        top: 4.063rem;

        @include margin-auto;
    }

    .section__card--quote {
        width:  39.25rem;
        height: 23.63rem;

        position: relative;
        left:  2.625rem;
        z-index:400;

        @include margin-auto;
        padding: 5.625rem 1.875rem 3rem 5.25rem;
        &::after{
            font-family: FontAwesome;
            font-size: 1.5rem;
            content: '\f10e';

            position: absolute;
            top: 5.625rem;
            right: 0;
            left: 1.875rem;

            opacity: .5;
        }
    }
}

@media screen and (min-width: 1232px) {
    .section--join {
        height: 39.44rem;
        &:after{
            display: none;
        }
    }
    .section__card--join {
        height: 23.19rem;

        position: absolute;
        top: 3.75rem;
        left: 0; 
        right: unset;

        margin-left: 0;
        margin-right: 0;
    }
    .section__card--quote {
        width: 40.5rem;
        height: 22rem;

        position: absolute;
        top: 8.5rem;
        right:0; 
        left:unset;

        margin-left: 0;
        margin-right: 0;

        padding-top: 2.5rem;
        padding-left: 8.625rem;
        &:after{
            top: 2.5rem;
            left: 5.25rem;
        }
    }
    .section__signature {
        margin-top: 1.25rem;
    }
    .section__img--quote{
        width: 4rem;
        height: 4rem;
    }
}