.section--home{
    background: url('../assets/images/pp-main-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    padding: 6rem 1rem 2rem;
    text-align: center;
    .section__text--subtitle{
        padding-bottom: 2rem;
        letter-spacing:3px;
    }
    .section__text--title{
        padding-bottom: 4rem;
    }
    .section__text--medium {
        padding-bottom: 1rem;
    }
}

.section__button--join {
    display:block;
    @include margin-auto;
}

.section__wrapper--icon {
    opacity: .7;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    width:  1.875rem;
    height:  1.875rem;
    margin-top: 1.25rem;
    transition: all .4s;
    @include margin-auto;
    .icon--fa{
        font-size: .75rem;
        @include center(both);
    }
    &:hover {
        background-color: $primaryBgColor;
        color: $secondaryColor;
    }
}