.footer {
    position: relative;
    background-color: $tertiaryBgColor;
    color: $primaryFontColor;
    padding:1rem;
    text-align: center;
    height:5rem;
}

.footer__text{
    font-size: 0.9375rem;
    @include center(both);
}

@media screen and (min-width: 768px) {
    .footer{
        height: 6.5rem;
    }
}