.footer {
    height:5rem;

    position: relative;
    background-color: $tertiaryBgColor;

    padding:1rem;

    color: $primaryFontColor;
    text-align: center;
}

.footer__text{
    font-size: 0.9375rem;
    @include center(both);
}

@media screen and (min-width: 768px) {
    .footer{
        height: 6.5rem;
    }
}