.header__wrapper--nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
}

.nav{
    background-color: $tertiaryBgColor;
    height: 100%;
    width: 87%;
    float: right;
    padding: 4rem 3rem;
}

.nav__list-item {
    font-family: RalewayMedium;
    font-size:  1.375rem;
    color: $primaryFontColor;
    margin-bottom: 1.25rem;
    transition: all .4s;
    position: relative;
    letter-spacing: .0625rem;
    &:after{
        content: '';
        width: 42px;
        height: 3px;
        background-color: $quaternaryBgColor;
        position: absolute;
        top: 50%;
        left: -4.25rem;
        display: none;
    }
    &:hover::after{
        display: block;
    }
    &.active::after{
        display: block;
        height:3px;
        background-color: $quaternaryBgColor; 
    }

}

@media screen and (min-width: 768px) {
    .nav {
        width: 62%;
        padding: 10rem 5rem;
    }
    .nav__list-item {
        font-size: 1.875rem;
        &:after{
            width: 4rem;
            left:-7rem;
        }
    }
    .header__burger.active {
        position: relative;
        top: 2rem;
        right:2rem;
    }
}

@media screen and (min-width: 1232px) {
    .nav {
        width: auto;
        padding: .675rem 0 0;
        background-color: transparent;
    }
    .nav__list-item {
        display: inline-block;
        font-family: RalewayBold;
        font-size: 0.9375rem;
        text-transform: uppercase;
        margin-left:1.5rem;
        margin-bottom: 0;
        transition: all .4s;
        &:hover {
            color: $tertiaryFontColor;
            &:after{
                display: none;
            }
        }
        &.active::after{
            display: none;
        }

    }
}