.section__button {
    width: 100%;
    height: 42px;
    max-width: 20rem;

    font-family: RalewayBold;

    background-color: $quaternaryBgColor;
    color: $primaryFontColor;

    border-radius: 2px;
    border: 1px solid $quaternaryBgColor;
    cursor: pointer;
    transition: all .4s;
    &:hover {
        color: $tertiaryFontColor;
        background-color: $primaryBgColor;
    }
}

@media screen and (min-width: 768px) {
    .section__button {
        height: 3rem;
        max-width: 20rem;
    }

}

