.section__button {
    height:42px;
    width: 240px;
    background-color: $buttonBgColor;
    font-family: RalewayBold;
    color: $primaryFontColor;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}


