.section__card {
    padding: 2rem 1rem;
}

.section__card--top {
    position: relative;
    z-index:500;
    background-color: $primaryBgColor;
    top: 2rem;
    @include box-shadow(0,3px,6px,$shadow);
    .section__text--subtitle {
        color: $secondaryFontColor;
        opacity: .5;
        margin-bottom: 1.25rem;
    }
    .section__text--title {
        color: $secondaryFontColor;
        opacity: .8;
        margin-bottom:2.5rem;
    }
    .section__text--regular {
        color: $secondaryFontColor;
        opacity: .8;
        margin-bottom: 1.25rem;
    }
}



.section--basic {
    .section__text--subtitle {
        color: $secondaryFontColor;
        opacity: .5;
        margin-bottom: 1.25rem;
    }
    .section__text--title {
        color: $secondaryFontColor;
        opacity: .8;
        margin-bottom:2.5rem;
    }
}

//Przenieść do join? v
.section__card--quote{
    background-color: $quaternaryBgColor;
    color: $primaryFontColor;
    padding: 4.688rem .5rem 1rem;
    .section__text--medium {
        margin-bottom: 1rem;
    }
}

.section__card--stats {
    background-color: $quaternaryBgColor;
    color: $primaryFontColor;
    padding: 2rem;
    text-align: center;
    .section__text--subtitle {
        letter-spacing:3px;
        margin-bottom: 2rem;
    }
    .section__text--number {
        font-size:2.188rem;
        margin-bottom: .5rem
    }
    .section__text--bold{
        font-size: 0.9375rem;
    }
}