@font-face {
    font-family: RalewayMedium;
    src: url('../assets/fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('../assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('../assets/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: MilluniumMedium;
    src: url('../assets/fonts/Millunium\ Medium/Millunium-Medium.ttf');
}

@font-face {
    font-family: FontAwesome;
    src: url('../assets/fonts/Font\ Awesome/fontawesome-webfont.woff');
}

body {
    font-size: 16px;
}

h1{
    font-size: 2.375rem;
    line-height: 2.375rem;
}

h2{
    font-size: 2rem;
    line-height: 2.375rem;
}

h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
}

h4 {
    font-size:  0.9375rem;
    line-height: 1.25;
}

h5 {
    font-size: 0.9375rem;
    line-height: 1rem;
}

p {
    font-size: 0.875rem;
    line-height: 1.375rem;
}

button {
    font-size: 0.9375rem;
    line-height:  1.125rem;
}


.nav__list-item {
    font-size: 0.9375rem;
    text-transform: capitalize;
}

.section__text--title, .section__text--number{
    font-family: MilluniumMedium;
}

.section__text--subtitle{
    font-family: RalewayBold;
    text-transform: uppercase;
    letter-spacing: .125rem;
}

.section__text--medium {
    font-family: RalewayMedium;
}

.section__text--regular {
    font-family: RalewayRegular;
}

.section__text--bold {
    font-family: RalewayBold;
}

.icon--fa {
    font-family: FontAwesome;
}

@media screen and (min-width: 768px) {
    h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    
    h2{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    
    h3{
        font-size: 2rem;
        line-height: 2.375rem;
    }
    
    h4 {
        font-size:  1.125rem;
        line-height: 1.25rem;
    }
    
    h5 {
        font-size: 1rem;
        line-height: 1.125rem;
    }
    
    p {
        font-size: 0.9375rem;
        line-height: 1.5rem;
    }
    
    button {
        font-size: 1rem;
        line-height:   1.188rem;
    } 
}