h1{
    font-size: 1rem;
    line-height: 1rem;
}

h2{
    font-size: 1rem;
    line-height: 1rem;
}

h3{
    font-size: 1rem;
    line-height: 1rem;
}

h4 {
    font-size: 1rem;
    line-height: 1rem;
}

h5 {
    font-size: 1rem;
    line-height: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1rem;
}

button {
    font-size: 1rem;
    line-height: 1rem;
}